
/*ID's*/
#parentHbox {
    -fx-background-image: url("/ipc_entregable/imgs/background.jpg");
    -fx-background-color: #1de3ae;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#parentBoxLogged {
    -fx-background-image: url("/ipc_entregable/imgs/backgroundLogged.jpg");
    -fx-background-color: #b289ff;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}


/*Estilo para el input básico*/
.basicInput{
    -fx-background-color: #e0e0e0;
}
.basicInput:focused {
    -fx-background-color: #bdbdbd;
}

/*Botón verde*/
.green_btn {
    -fx-background-radius: 30;
    -fx-background-color: #66bb6a;
    -fx-effect : dropshadow(three-pass-box, rgba(76,175,80,1), 0, 0, 4, 4);
}

.green_btn:pressed {
    -fx-background-radius: 30;
    -fx-background-color: rgba(76,175,80,1);
    -fx-effect : null;
}

.green_btn:disabled {
    -fx-background-radius: 30;
    -fx-background-color: #66bb6a;
    -fx-effect : null;
}

/*Botón gris*/
.gray_btn {
    -fx-background-radius: 50px;
    -fx-background-color:  #cfd8dc;
    -fx-effect :  dropshadow(three-pass-box, rgba(176,190,197,1), 0, 0, 4, 4);
}

.gray_btn:pressed {
    -fx-background-radius: 50px;
    -fx-background-color: rgba(176,190,197,1);
    -fx-effect :  null;
}

/*Botón rojo!*/
.red_btn {
    -fx-background-radius: 30;
    -fx-background-color: #f44336;
    -fx-effect : dropshadow(three-pass-box, rgba(229, 57, 53, 1), 0, 0, 4, 4);
}

.red_btn:pressed {
    -fx-background-radius: 30;
    -fx-background-color: rgba(229, 57, 53, 1);
    -fx-effect : null;
}
.red_btn:disabled {
    -fx-background-radius: 30;
    -fx-background-color: #f44336;
    -fx-effect : null;
}

/*Botón Naranja!*/
.orange_btn {
    -fx-background-radius: 30;
    -fx-background-color: #ffa726;
    -fx-effect : dropshadow(three-pass-box, rgba(251, 140, 0, 1), 0, 0, 4, 4);
}

.orange_btn:pressed {
    -fx-background-radius: 30;
    -fx-background-color: rgba(251, 140, 0, 1);
    -fx-effect : null;
}


/*Estilo de los botones de reservarPista con el fin de que se parezca a un horario*/

.horario_cell_disponible {
    -fx-background-radius :0;
    -fx-background-color: #c8e6c9;

}
/*Table View!*/
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  rgba(189, 189, 189, 0.57); 
    -fx-size:50;
}
.table-view .column-header .label{
   -fx-text-fill: black;
   -fx-font-weight: bold; 
   -fx-alignment: center;
}
.table-view .cell{
  -fx-cell-size: 25;
  -fx-alignment: center-left;
  -fx-border-color: transparent;
  -fx-alignment: center;
   
}
.table-row-cell:selected {
   -fx-background-color: #e8f5e9;
   -fx-text-background-color:  black;  
}

.table-row-cell:disabled {
   -fx-background-color: rgba(189, 189, 189, 0.4);
   -fx-text-background-color:  #9e9e9e;  
}
/*ListView ^pistas clase*/
.list-view {
    -fx-background-color: rgba(255, 249, 194, 1);
}
.list-view:focused, .list-view:focus {
    -fx-background-color: rgba(255, 249, 194, 1);
    -fx-padding: 0;
}
.list-cell {

    -fx-cell-size: 46.55;
    -fx-alignment: center;
    -fx-background-color: rgba(255, 249, 194, 1);
}
.list-cell:disabled{
}
.red-reserved-cell{
    -fx-background-color:#ef5350;
}
.list-cell:empty{
    -fx-background-color: transparent;
}

.list-cell:focused, .list-cell:selected {
    -fx-background-color: #ffecb3 ;
    -fx-text-fill: black;
    -fx-cell-size: 45.7;
    -fx-alignment: center;
}